@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rajdhani" !important;
    font-style: normal;
    background: url("../img/homepage.png") no-repeat;
    overflow-x: hidden;
}

h1 {
    font-style: normal;
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 85% !important;
    color: #ffffff;
}

h1 span {
    color: #5bde84;
}

p {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #ffffff !important;
}

.check_btn {
    width: 135px;
    height: 33px;
    background: #5bde84 !important;
    border-radius: 80px !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 1 !important;
    text-align: center;
    color: #ffffff !important;
}

.main_btn {
    width: 235px;
    height: 57.44px;
    background: linear-gradient(180deg, #ccde5b 0%, #7b8733 100%);
    border-radius: 139.259px !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 23px !important;
    text-align: center !important;
    color: #ffffff !important;
    padding-top: 16px !important;
}


/* header */

header {
    padding-top: 20px;
    padding-left: 15% !important;
    padding-right: 15% !important;
}

header nav .nav-link {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #f2f2f2 !important;
    margin-right: 50px;
}

.login_box a {
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #5bde84 !important;
}

.login_box span {
    margin-left: 10px;
    margin-right: 10px;
    color: #5bde84 !important;
}

.login_box img {
    margin-left: 10px;
}

.hero {
    margin-top: 80px;
}

.hero .left {
    min-height: 370px;
    background: #ffffff;
    border-radius: 20px 0px 0px 20px;
    padding-left: 100px;
    padding-top: 65px;
}

.hero .left h1 {
    font-weight: 400 !important;
    font-size: 48px !important;
    line-height: 85% !important;
    color: #0f1921 !important;
    margin-bottom: 15px;
}

.hero .left p {
    color: #0f1921 !important;
    margin-bottom: 28px;
}

.hero .right {
    min-height: 370px;
    background: url("../img/hero-right.png") no-repeat;
    border-radius: 0px 20px 20px 0px;
    background-size: cover;
    padding-left: 90px;
    padding-top: 120px;
}

.hero .right h6 {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 26px !important;
    color: #f2f2f2 !important;
}

.hero .right h1 {
    font-weight: 700 !important;
    font-size: 64px !important;
    line-height: 50px !important;
    color: #f2f2f2 !important;
}


/* header */


/* online_details */

.online_details {
    margin-top: 175px;
    margin-bottom: 85px;
    position: relative;
}

.online_details h5 {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 85% !important;
    color: #ffffff !important;
    /* position: relative; */
}

.online_details h5::after {
    position: absolute;
    content: url("../img/online-after.png");
}

.online_details h1 {
    margin-top: 35px;
}


/* !online_details */


/* certificate */

.certificate {
    padding-left: 7%;
    padding-right: 15%;
}

.certificate .check_btn {
    filter: drop-shadow(0px 4px 40px rgba(43, 182, 87, 0.8));
    color: #ffffff;
}

.company_text {
    width: 250px;
    height: 340px;
    background: #5bde84;
    border-radius: 217px;
    text-align: center;
    padding-top: 90px;
    margin-left: 100px;
    margin-top: -150px;
    position: absolute;
    z-index: 5;
}

.company_text h4 {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 32px !important;
    line-height: 85% !important;
    text-align: center !important;
    color: #ffffff !important;
}

.company_text h1 {
    margin-top: 25px;
    font-size: 32px !important;
    margin-bottom: 40px;
}

.certificate .right {
    padding-right: 15px;
}

.certificate .right h1 {
    margin-bottom: 55px;
}

.certificate .right .main_btn {
    margin-top: 55px;
}


/* !certificate */


/* profit */

.profit_content {
    position: relative;
}

.excavator_img {
    position: absolute;
    bottom: 55%;
    right: 0;
    z-index: 5;
}

.profit {
    margin-left: 15% !important;
    margin-right: 15% !important;
    margin-top: 372px;
    background: rgba(91, 222, 132, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    min-height: 800px;
}

.profit .left {
    padding-top: 150px;
}

.profit .left h1 {
    font-size: 109.538px !important;
    line-height: 85% !important;
    text-align: center;
}

.profit .left h3 {
    width: 70%;
    min-height: 80px;
    background: rgba(91, 222, 132, 0.3);
    border-radius: 176.593px;
    font-weight: 500;
    font-size: 34.2308px;
    line-height: 85%;
    text-align: center;
    color: #5bde84;
    margin: auto;
    padding-top: 25px;
}

.profit .left h5 {
    font-weight: 600 !important;
    font-size: 32px !important;
    line-height: 85% !important;
    text-align: right;
    color: #ccde5b !important;
}

.profit .left h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 85%;
    text-align: right;
    color: #ffffff;
}

.profit .left h6 {
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 85% !important;
    text-align: center;
    letter-spacing: 0.305em !important;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 60px;
}

.profit .right {
    background: rgba(91, 222, 132, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 100px 60px 60px 60px;
    min-height: 800px;
}

.profit .right h3 {
    font-family: "Rajdhani";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 85%;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 25px;
}

.profit .right h5 {
    font-family: "Rajdhani";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 85%;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 15px;
}

.profit .right h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 85%;
    text-transform: capitalize;
    color: #ffffff;
}

.profit .right .value {
    height: 48px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 66px;
    font-weight: 500;
    font-size: 20px;
    line-height: 85%;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    padding-top: 14px;
}

.profit .right .progress_bar {
    width: 100%;
    margin-top: 32px;
    border: 4px solid #ccde5b;
    margin-bottom: 10px;
    background: #ccde5b !important;
}

input[type="range"] {
    background-color: #ccde5b !important;
}

.profit .right .currency_img img {
    margin-right: 8px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 67px;
    margin-bottom: 10px;
}

.profit .right .currency_img img:hover {
    background: linear-gradient(180deg, #ccde5b 0%, #7b8733 100%);
    border-radius: 67px;
    transform: scale(1.1);
}

.profit_per_box {
    padding-top: 20px;
    height: 100px;
    background: rgba(91, 222, 132, 0.6);
    box-shadow: 0px 4px 40px rgba(43, 182, 87, 0.8);
    border-radius: 25px;
    width: 100%;
}

.profit_per_box p {
    font-weight: 500;
    font-size: 16px;
    line-height: 85%;
    text-transform: capitalize;
    color: #ffffff;
}

.profit_per_box h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 85%;
    text-transform: capitalize;
    color: #ffffff;
}

.profit .right .main_btn {
    width: 100%;
    margin-top: 25px;
}


/* !profit */


/* feature */

.feature {
    margin-top: 209px;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 200px;
}

.feature h1 {
    text-align: center;
    margin-bottom: 90px;
}

.feature .feature_box {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 90px 70px;
    cursor: pointer;
}

.feature .feature_box h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 85%;
    text-transform: capitalize;
    color: #f2f2f2;
    margin-bottom: 45px;
}

.feature .system {
    transition: 0.4s ease-in-out;
    background: url("../img/management.png") center center no-repeat, #11141d;
    -webkit-transition: width 2s;
    transition: width 2s;
    transition: 0.4s ease-in-out;
}

.feature .system:hover {
    background: url("../img/management.png"), linear-gradient(180deg, #5bde84 0%, #7b8733 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 20px 40px rgba(204, 222, 91, 0.5);
    border-radius: 20px;
    transform: scale(1.1);
}

.feature .security {
    background: url("../img/shield.png") center center no-repeat, #11141d;
    -webkit-transition: width 2s;
    transition: width 2s;
    transition: 0.4s ease-in-out;
}

.feature .security:hover {
    background: url("../img/shield.png") center center no-repeat, linear-gradient(180deg, #5bde84 0%, #7b8733 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 20px 40px rgba(204, 222, 91, 0.5);
    border-radius: 20px;
    transform: scale(1.1);
}

.feature .income {
    background: url("../img/wallet.png") center center no-repeat, #11141d;
    -webkit-transition: width 2s;
    transition: width 2s;
    transition: 0.4s ease-in-out;
}

.feature .income:hover {
    background: url("../img/wallet.png") center center no-repeat, linear-gradient(180deg, #5bde84 0%, #7b8733 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 20px 40px rgba(204, 222, 91, 0.5);
    border-radius: 20px;
    transform: scale(1.1);
}


/* !feature */


/* affiliat */

.affiliat {
    padding-left: 15%;
    padding-right: 15%;
}

.affiliat h1 {
    text-align: center;
    margin-bottom: 50px;
}

.affiliat p {
    text-align: center;
    margin-bottom: 50px;
}

.affiliat .plan_box {
    background: url("../img/affiliate-bg.png") no-repeat;
    background-size: contain;
    height: 270px;
    /* width: 100%; */
    padding-top: 70px;
    padding-left: 60px;
    position: relative;
}

.affiliat .plan_box h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 85%;
    letter-spacing: 0.2em;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 24px;
}

.affiliat .plan_box h1 {
    text-align: left;
    font-weight: 700;
    font-size: 96px;
    line-height: 85%;
    color: #ffffff;
}

.affiliat .plan_box .label_text {
    position: absolute;
    color: #fff !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-weight: 500;
    font-size: 300px;
    top: -50px;
    right: 50px;
}

.affiliat .main_btn {
    margin-top: 30px;
}


/* !affiliat */


/* token */

.token {
    margin-top: 207px;
    padding-right: 15%;
    position: relative;
}

.token .token_img {
    position: absolute;
    top: -100%;
}

.token_box {
    width: 65%;
    min-height: 172px;
    background: #11141d;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding-top: 55px;
}

.token_box h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 85%;
    text-transform: capitalize;
    color: #ffffff;
}

.token_box h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 85%;
    text-transform: capitalize;
    color: #6fcf97;
}

.token_box .buy_btn {
    width: 186px;
    height: 62px;
    background: rgba(91, 222, 132, 0.3);
    border-radius: 176.593px;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #5bde84 !important;
    padding-top: 15px;
}


/* !token */


/* footer */

footer {
    padding-left: 15% !important;
    padding-right: 15% !important;
    margin-top: 100px;
    padding-top: 150px;
    background: url(../img/moon-bg.png) center top no-repeat;
    background-size: 16% 60% !important;
    padding-bottom: 40px;
}

footer .social_icon {
    margin-top: 21px;
}

footer .social_icon a {
    margin-right: 30px;
}

footer h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    color: #ffffff;
}

.footer_nav {
    margin-top: 160px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.footer_nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #f2f2f2 !important;
}


/* !footer */


/* for laptop */

@media screen and (min-width: 1000px) and (max-width: 1600px) {
    .excavator_img {
        bottom: 65%;
        width: 50%;
    }
    .profit .left h3 {
        height: 100px;
    }
    .profit .left h2 {
        font-size: 50px !important;
    }
    .affiliat .plan_box .label_text {
        right: 0;
    }
    .token .token_img {
        width: 470px !important;
    }
    .footer_nav {
        margin-top: 100px;
    }
    footer {
        background-size: 18% !important;
    }
}


/* !for laptop */


/* for mobile */

@media screen and (max-width: 999px) {
    body {
        background-size: cover;
    }
    header {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    .login_box a {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .hero .left {
        padding-left: 70px !important;
        padding-top: 50px !important;
    }
    .hero .right {
        padding-left: 50px !important;
        padding-top: 70px !important;
    }
    .online_details {
        margin-top: 150px;
        text-align: center;
    }
    .certificate {
        padding-right: 10% !important;
    }
    .certificate .right {
        margin-top: 230px !important;
    }
    .profit {
        padding-left: 5% !important;
        padding-right: 5% !important;
        margin-top: 180px;
        margin-left: 4% !important;
        margin-right: 2% !important;
        position: relative;
    }
    .excavator_img {
        bottom: 92%;
        right: 80px;
    }
    .profit .left h5 {
        font-size: 26px !important;
    }
    .profit .left h2 {
        font-size: 48px;
    }
    .profit .right {
        margin-top: 50px;
        padding: 100px 40px 40px 40px;
    }
    .profit_per_box {
        margin-bottom: 20px;
    }
    .feature {
        margin-top: 150px;
        padding-left: 7%;
        padding-right: 7%;
    }
    .feature .system {
        margin-bottom: 20px;
    }
    .feature .security {
        margin-bottom: 20px;
    }
    .affiliat {
        padding-left: 7%;
        padding-right: 7%;
    }
    .affiliat .plan_box {
        margin-bottom: 20px;
    }
    .token {
        margin-top: 150px;
        padding-left: 7%;
        padding-right: 7%;
    }
    .token .token_img {
        position: relative;
    }
    .token_box {
        width: 100%;
        padding-bottom: 30px;
    }
    footer {
        padding-left: 10% !important;
        padding-right: 10% !important;
        background-size: 50% !important;
    }
    footer .social_icon {
        margin-bottom: 20px;
    }
    .login_box {
        justify-content: start !important;
    }
    .footer_nav {
        margin-top: 60px;
        grid-template-columns: repeat(3, 1fr);
    }
}


/* !for mobile */